@use './src/scss' as *;

.karta {
  padding-bottom: 50px;

  .body {
    padding: 2rem 1rem;

    &__inner {
      text-align: center;
      padding: 50px 30px;
      border-radius: 20px;
      color: #fff;
      background: $main-color;
    }

    &__list {
      display: flex;
      flex-flow: column;
      gap: 20px;
    }

    .item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 2rem 1.8rem;
      border-radius: 25px;
      color: #fff;
      background: $main-color;
      
      &__card {
        font-weight: 300;
        font-size: 18px;
        margin-bottom: 12px;
      }
      &__name {
        display: block;
        font-weight: 300;
        margin-bottom: 12px;
      }
      &__type {
        display: block;
        font-weight: 300;
        font-size: 15px;
      }
    }

    &__btn {
      padding: 1rem 2.5rem;
      margin-top: 1rem;
      border-radius: 25px;
      color: #fff;
      background: $green-color;
    }
  }
}