@use './src/scss' as *;

.head {
  position: relative;
  padding: 1rem;
  color: #fff;
  background: $main-color;

  &__link {
    position: absolute;
    top: 50%;
    left: 4%;
    transform: translate(-50%, -50%);
    color: #fff;

    i {
      font-size: 20px;
    }
  }

  &__title {
    font-weight: 400;
    font-size: 17px;
    text-align: center;
    padding: 0 12px;
  }

  &__plus {
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translate(-50%, -50%);
    height: 30px;
  }
}