$font-family: 'Poppins', sans-serif;

$body-bg: #fff;
$main-color: #007074;
$txt-color: #262626;
$red-color: #FF0000;
$gray-color: #EFF0F2;
$green-color: #00FF38;

$box-shadow: 12px 27px 39px 7px rgb(0 0 0 / 4%);

$border-radius: 100px;
$mobile-width: 600px;
$tablet-width: 1024px;